---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import PageHeader from '../../../components/PageHeader.astro';
import ArticleCard from '../../../components/ArticleCard.astro';
import Link from '../../../components/Link.astro';
import { capitalize } from '../../../utils';
import { getSortedPostsByTag } from '../../../utils/collectionData';

const { tag } = Astro.params;
if (tag == undefined) return Astro.redirect('/blog');

const unsluggedTag = tag.split('-').join(' ');
const posts = await getSortedPostsByTag(unsluggedTag);
---

<BaseLayout>
    <PageHeader heading='Blog' body={`Showing articles with Tag: ${capitalize(tag!.split('-').join(' '))}`}>
        <Link href='/blog'>Back to Blog</Link>
    </PageHeader>
    <div class='mt-8 mb-4 flex flex-col gap-12'>
        {
            posts?.length ? (
                posts.map((post, idx) => <ArticleCard alternate={idx % 2 != 0} post={post} />)
            ) : (
                <p class='text-center my-8'>No posts found</p>
            )
        }
    </div>
</BaseLayout>
