---
import BaseHead from '../components/BaseHead.astro';
import SkipToContentLink from '../components/SkipToContentLink.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang='en' class='overflow-x-hidden break-words'>
    <head>
        <BaseHead {...Astro.props} />
    </head>
    <body class='bg-background-dark text-white text-lg'>
        <div class='relative min-h-screen overflow-x-hidden'>
            <SkipToContentLink />
            <Header />
            <main id='main' class='container w-full max-w-screen-lg mx-auto pb-12 px-4'>
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>
